
body{
    background-color: rgb(3, 30, 37);
    color: rgba(210, 250, 221, 0.685);
}
h2{
    color:rgb(5, 80, 5);
}
input{
    margin: 10px;
}
#first{
    margin-left: 30px;
}
#date{
    margin-left:68px;
    padding-right: 13px;
    padding-left: 13px;
}
#pass{
    margin-left: 37px;
}
#email{
    margin-left: 43px;
}
.submit{
    border: #ffffff;
    border-radius: 5px;
    background-color: steelblue;
    color: #ffffff;
    height: 30px;
    width: 80px;
    margin-left:110px;
    margin-bottom: 30px;
    
}
select{
    margin-left: 10px;
    border-radius: 5px;
    color: brown;
    background-color: beige;
}
option{
    color:beige;
    background-color: rgb(141, 24, 24);
}
table,th,td{
    border:1px solid navy;
}
.fyndfstjs{
    color: cadetblue;
    font-size: xx-large;
}
#nathan{
    color: rgb(123, 142, 105);
}
#a1{
    color: lawngreen;
}
#a1:active{
    color: indianred;
}
#a1:hover{
    color: rebeccapurple;
}
#first:focus{
    color: rosybrown;
}
.check:checked{
    background-color: salmon;
}
#pass:required{
    background-color: springgreen;
}
li:first-child{
    color: springgreen;
}
:target{
    border: 2px greenyellow solid;
}
.blockexample{
    border: 3px yellow solid;
    height:20vh;
    width: 25vw;
    margin:10px;
}
.inlineexample{
    
    height:25vh;
    width: 25vw;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-width: 5px;
    border-radius:50px;
    border-style:ridge;
    border-color: skyblue;
}
#parentposition{
    position: static;
    margin-left:0px;
    margin-top:100px;
}
#staticexample{
    position: static;
}
#relativeexample{
    position: relative;
    
    left: 50px;
}
#fixedexample{
    position:fixed;
    top: 20px;
}
#absoluteexample{
    position:absolute;
    margin-left:100px;
}
#stickyexample{
    position:sticky;
    top:30px;
    left:50px;
}
#imagefloat{
    float: left;
    border: 2px #ffffff solid ;
    margin: 5px;
    
}
#randomtext{
    border: 2px red solid;
    margin: 15px;
    padding: 10px;
    /* clear:left; */
    font-size: 2em;
}
#imagefloat1{
    float: right;
    border: 2px #ffffff solid ;
    margin: 5px;
    
}
#transitionexample{
    width:100px;
    height: 50px;
    background-color: blue;
}
#transitionexample:hover{
    border-radius: 50px;
    text-align: center;
    height:100px;
    transform: rotate(90deg);
    background-color: burlywood;
    transition: all 5s;
}
.Nthchild{
    width: 30px;
    height: 30px;
    background-color: bisque;
}
div:first-child{
    background-color: salmon;
}
div:nth-child(2n){
    background-color: blue;
}
div:nth-of-type(3n){
    width:100px;
}
